<li> <%= link_to "home", root_path %>  </li>
<li> <%= link_to "Sign up", new_user_path %>  </li>
<li> <%= link_to "Sign in", signin_path %>  </li>
  <%if logged_in?%>

    <li> <%= link_to "New Attraction", new_attraction_path %>  </li>


     <li> <%= link_to "Log Out", user_path(current_user), method: "delete" %>
      </li>
  <%end%>

 <li> <%= link_to "See attractions", attractions_path %>  </li>
